<%
#db_host    = ENV.fetch('DB_HOST', ENV.fetch('FORUM_DB_1_PORT_5432_TCP_ADDR', 'localhost'))
#db_port    = ENV['FORUM_DB_1_PORT_5432_TCP_PORT'] || ENV['DB_PORT'] || 3306
require 'etc'
pool_size =
  # Web: max workers * max threads
  ENV.fetch('WEB_CONCURRENCY', 3).to_i * ENV.fetch('MAX_THREADS', 5).to_i +
  # ActiveJob Async max thread pool size
  Etc.nprocessors
ERB
%>

#defaults: &defaults
  #adapter: mysql2
  #min_messages: WARNING
  #pool: <%#= pool_size %>
  #host: <%#= db_host %>
  #port: <%#= db_port %>
  #username: <%#= ENV.fetch('DB_USERNAME', 'forum_dev').inspect %>
  #password: <%#= ENV.fetch('DB_PASSWORD', "forum").inspect %>
  #encoding: utf8mb4
  #charset: utf8mb4
  #collation: utf8mb4_unicode_ci

defaults: &defaults
  adapter: mysql2
  min_messages: WARNING
  database: <%= ENV['DB_NAME'] %>
  pool: <%= pool_size %>
  host: <%= ENV['DB_HOST'] %>
  port: <%= ENV['DB_PORT'] %>
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_unicode_ci

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  encoding: utf8

  #<<: *defaults
  #encoding: utf8
  #min_messages: WARNING
  #url: <%= ENV['DATABASE_URL'].inspect if ENV['DATABASE_URL'] %>
  #database: <%= 'forum_prod' unless ENV['DATABASE_URL'] %>
