$brand-primary: #008ef0 !default;

@import "variables";
@import "deps";
@import "app";
@import "coderay/day";

body {
  background-image: asset-url("\pattern-2-40.png");
  background-repeat: repeat;
}
